.landing-banner {
  height: 100vh;
  background: url("../../../src/assets/md/street-calender.jpg") center center no-repeat;
  background-color: rgba(88, 169, 196, 0.3);
  background-size: cover;
  background-blend-mode: soft-light; }

.about-us {
  padding: 100px 0;
  background: #f05f40;
  text-align: center;
  color: #fff; }

.logo-branding {
  padding: 150px 0;
  background: #fff;
  text-align: center;
  color: #f05f40; }
