.landing-banner{
  height: 100vh;
  background: url(#{$base-url}md/street-calender.jpg) center center no-repeat;
  background-size: cover;
  background-color: rgba(76,123,149, .5);
  background-blend-mode: soft-light;
  box-shadow: inset 0 0px 100px 10px rgba(125, 123, 149, 0.5);
}
.note {
  position: absolute;
  padding: 7vw;
  top: 0;
  right: 0;
  color: #fff;
  background: transparent;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0;
    border-style: solid;
    box-shadow: -2px 2px 0px 0px rgba(0,0,0,0.1);
    transition: 1s ease;
    border-color: rgba(125, 123, 149, 0.5) #fff; 
  }
  &:hover:before{
    border-width: 0 7vw 7vw 0;
    box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.1);
    transition: 1s ease;
  }
}
/*.note:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 4vw 4vw 0;
  border-style: solid;
  box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.1);
  transition: 1s ease;
  border-color: rgba(125, 123, 149, 0.5) #fff;
  /*-webkit-animation: rollIn 1s linear 0s  alternate;
    animation: rollIn 1s linear 1s alternate;*/
/*}
.note:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 4vw 4vw 0;
  border-style: solid;
  box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.1);
  transition: 1s ease;
  border-color: rgba(125, 123, 149, 0.5) #fff;
  /*-webkit-animation: rollIn 1s linear 0s  alternate;
    animation: rollIn 1s linear 1s alternate;*/
/*}
@-webkit-keyframes rollIn {
 0% { border-width: 0 0px 0px 0; box-shadow: -2px 2px 0px 0px rgba(0,0,0,0.1);}
 100% { border-width: 0 4vw 4vw 0; box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.1);}
}
@keyframes rollIn {
 0% { border-width: 0 0px 0px 0; box-shadow: -2px 2px 0px 0px rgba(0,0,0,0.1);}
 100% { border-width: 0 4vw 4vw 0; box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.1);}
}*/
.about-us{
  padding: 100px 0;
  background: #f05f40;
  text-align: center;
  color: #fff;
}
.logo-branding{
  padding: 150px 0;
  background: #fff;
  text-align: center;
  color: #f05f40;
}