$base-url: "./assets/md/street-calender.jpg";
@import './styles/components/header.scss';
@import './styles/modules/home/components.scss';

.dataa{
  display: block;
}
.html{
  margin: 0;
}
.body{
  margin: 5;
}